:root {
    --corPadraoAzul: #add8e6;
    --corPadraoAzulClaro: #bbd5dd;
    --corPadraoAzulEscuro: #2b94b8;
    --corPadraoPreto: #000000;
    --corPadraoBranco: #fbfeff;
    --corPadraoCinza: #7b7a7b;
    --fontTitle: #000000;
    --legend: #000000;
    font-size: 1.3rem;
    line-height: 1.5;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

.logo {
    width: 110px;
    height: 70px;
    background-color: var(--corPadraoAzulEscuro);
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--corPadraoAzulEscuro);
    box-shadow: 0 0 1rem #000000;
    flex-wrap: wrap;
    border-radius: 10px;
    transition: none;
}

#lista-cabecalho {
    display: flex !important;
    width: 67% !important;
    flex-wrap: wrap !important;
    font-size: 0.8rem !important;
    transition: none !important;
}

.opcao-cabecalho {
    color: #000000 !important;
    list-style-type: none !important;
    padding: 1rem !important;
    box-sizing: border-box !important;
    transition: none !important;
}

.opcao-cabecalho:hover {
    background-color: var(--corPadraoAzul) !important;
    transition: none !important;
}

.opcao-acessibilidade {
    color: #000000 !important;
    list-style-type: none !important;
    padding: 1rem !important;
    box-sizing: border-box !important;
    transition: none !important;
}

.link-opcao {
    text-decoration: none !important;
    transition: none !important;
}

.link-opcao:hover {
    text-decoration: underline black !important;
    transition: none !important;
}

.link-opcao:link {
    text-decoration: none !important;
    color: #000000 !important;
    transition: none !important;
}
.btn-acessibility {
    width: 20px;
  height: 20px;
  background-color: var(--corPadraoAzul);
  border: none;
  border-radius: 100%;
  color: var(--corPadraoAzulEscuro);
  transition: none;
  }