*{
    margin: 0;
    padding: 0;
}
:root {
    --corPadraoAzul: #add8e6;
    --corPadraoAzulClaro: #bbd5dd;
    --corPadraoAzulEscuro: #2b94b8;
    --corPadraoPreto: #000000;
    --corPadraoBranco: #fbfeff;
    --corPadraoCinza: #7b7a7b;
    --fontTitle: #000000;
    --legend: #000000;  
}
html {
  height: 100%;
}
h2{
    color: var(--corPadraoCinza);
}
body{
    font-family: 'Open+Sans', sans-serif;
    font-size: 0.8rem;
    color: #000000;
    background-image: linear-gradient(to bottom, white, #add8e6);
    background-size: 100%;
    height: 100%;    
}
header{

    width: 100%;
    height: 70px;  
}
main{
    height: max-content;
}
#container{
     width: 100%;
     height: 100%;
     display: flex;
}
.Menu{
    display: block;
    width: 100%;
    background-color: #DDD;
}
#conteudo{
    display: block;
    float: left;
    width: 55%;
    height: 30vh;
    margin: 20px;
}
#imagem{
    display: block;
    float: left;
    width: 16%;
    height: 30vh;
    margin: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 0 -1px 8px var(--corPadraoCinza);

}
aside{
    display: block;
    float: right;
    width: 16%;
    height: 67vh;
    margin: 20px;
}
main iframe{
    display: block;
    float: left;
    width: 20%;
    height: 30vh;
    margin: 20px;    
}
#conteudo2{
    display: block;
    float: right;
    width: 50%;
    height: 30vh;
    margin: 20px;
}
.header{
    width: 100%;  
    height: 70px;  
  }

  /*>>>>>> responsividade */
  @media (max-width: 800px) {
   Aside {width: 100%; float: none;

    }
    #imagem{
        float: none;
        width: 50%;
    }
   #conteudo2{
    float: none;
    width: 50%;

   }

   #video iframe{
    width: 50%;
    height: max-content;
    text-align: justify;
    margin-top: 10vh;
    padding: 5px;    
   }
}
